
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

header {
  background-color: black;
  height: 69px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  width: 100%;
  margin: 0;
}

a {
  color: seashell;
  opacity: 0.9;
  text-decoration: underline;
  padding-left: 20px;
  padding-right: 20px;
}

.logo img {
  height: 50px;
  padding: 10px;
  opacity: 0.9;
}

h2 {
  font-size: 35px;
  color: seashell;
  opacity: 0.9;
  font-weight: bold;
  margin: 0px;
}

h3 {
  margin: 0 auto;
}

h4 {
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  font-weight: bold;
  margin: 10px;
}

h5 {
  color: seashell;
  opacity: 0.9;
  margin-bottom: 10px;
}

.main {
  display: flex;
  height: 700px;
  margin: 0;
  width: 100%;
}

.side {
  background-color: black;
  flex: 1 3%;
}

.middle {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 94%;
}

.mission {
  background-color: black;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teacontainer {
  background-color: black;
  height: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.trio {
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.textunder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.textunder img {
  height: 200px;
  width: 300px;
}

.duo {
  background-color: black;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 0px;
}

.locations {
  display: flex;
  height: 500px;
}

.middlelow {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 94%;
  }

.adresses {
  display: flex;
}

.square {
  background-color: black;
  width: 300px;
  height: 300px;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bottom {
  height: 260px;
  display: flex;
  flex-direction: column;
}

.cozy {
  background-color: black;
  width: 100%;
  height: 200px;
  padding-top: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

footer {
  background-color: black;
  /*height: 60px;
  width: 100%;*/
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}
